@import '../../assets/css/colors';

#amount-select {
  overflow: hidden;

  .grid {
    width: 248px;
    height: 248px;
    border: 1px solid $grey;
    border-radius: 14px;
    margin: 20px auto;
    overflow: hidden;
  }

  .sqr {
    width: 123px;
    height: 123px;
    cursor: pointer;
    font-family: "Montserrat Thin";
    font-size: 52px;
    line-height: 123px;
    float: left;

    &:nth-child(odd) {
      border-right: 1px solid $grey;
    }

    &:nth-child(-n + 2) {
      border-bottom: 1px solid $grey;
    }
  }

  .sign {
    color: inherit;

    b {
      bottom: 15px;
      color: inherit;
      font-size: 15px;
      position: relative;
    }
  }

  .active {
    background-color: $green;
    color: $white;
  }

  .bttn {
    margin: 0 auto 110px auto;
    background-color: $white;
    border: 1px solid $green;
    padding: 6px 0;
  }

  .bttn:hover {
    background-color: $green;
    color: $white;
  }

@media only screen and (min-width: 768px) {

  .grid {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
    width: 400px;
  }

  .sqr {
    width: 199px;
    height: 199px;
    line-height: 198px;
    font-size: 70px;
    display: inline-block;
  }

  .sign b {
    font-size: 28px;
    bottom: 36px;
  }
}
  @media only screen and (min-width: 992px) {

    .grid {
      margin-top: 80px;
      width: 798px;
      height: 200px;
    }

    .sqr:nth-child(2) {
      border-right: 1px solid $grey;
    }

    .button {
      padding: 9px 0px;
    }
  }
}
