#how-it-works {
  overflow: hidden;

  h2 {
    margin-bottom: 14px;
  }

  h4 {
    font-size: 12px;
    font-family: 'Montserrat UltraLight';
  }

  h6 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-line;
  }

  p {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  img:not(.graphic) {
    width: 40px;
    margin: 54px auto 11px auto;
    display: block;
  }

  .nozzle {
    width: 60px;
  }

  p:last-of-type {
    margin-bottom: 60px;
  }
}
